*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*--------------------*/

.tableContainer{
    display: table;
    border-spacing: 30px;
    padding: 0 5%;
}

.tableRow{
    display: table-row;
}

.tableCell{
    display: table-cell;
    padding: 15px;
    border: solid 5px var(--mainColor);
    color: var(--mainColor);
    border-radius: 35px;
    font-size: 25px;
    text-align: center;
}

.top{
    border-top: solid 50px var(--mainColor);
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--mainColor);
    font-size: 60px;
    height: 200px;
}

.logo{
    width: 200px;
    margin-left: 120px;
}

.h1{
    margin-left: 120px;
}

.oopsText{
    padding-left: 10px;
    font-size: 30px;
}

.mainImage{
    width: 100%;
}

h2{
    font-size: 30px;
    font-weight: 700;
}

h3{
    font-size: 30px;
    margin: 50px 0;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 70px;
    font-size: 25px;
}

.menuCell{
    display: inline-block;
    flex: 1 1 100px;
    text-align: center;
    padding-top: 23px;
    height: 70px;
    cursor: pointer;
}

.menuCell:hover{
    transition: 0.2s linear;  
    background-color: var(--mainSelectedColor);
    scale: 1.1;
}

.menuCell:hover a {
    color:white;
}

.bottomMenu{
    background-color: var(--mainColor);
    color: white;
}

.topMenu{
    background-color:rgb(118, 139, 184);
}

.center{
    margin: 0 150px;
}

.imageContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 50px;
}

.tshirtContainer{
    border: solid 5px var(--mainColor);
    border-radius: 35px;
    width: 32%;
    overflow: hidden;
}

.imgItem{
    width: 100%;
}

.h3Item{
    color: var(--mainColor);
    margin: 20px;
}

.pItem{
    color: var(--mainColor);
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.buttonsItem{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}

.buttonItem{
    font-size: 20px;
    color: white;
    background-color: var(--mainColor);
    border-radius: 15px;    
    width: 150px;
    height: 50px;
    margin-bottom: 20px;
}

.navLink{
    color: var(--mainColor);
}

.navLinkSelected{
    color: white;
}

body{
    --mainSelectedColor: rgb(18, 18, 49);
    --mainColor: rgb(18, 18, 77);
    font-family: "Catamaran", sans-serif;
}