*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*--------------------*/

.tableContainer{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.tableCell{
    display: inline-block;
    padding: 25px;
    border: solid 5px var(--mainColor);
    color: var(--mainColor);
    border-radius: 35px;
    font-size: 25px;
    text-align: center;
    width: 45%;
    margin: 50px 0;
}

.top{
    border-top: solid 50px var(--mainColor);
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--mainColor);
    font-size: 60px;
    height: 200px;
}

.logo{
    width: 200px;
    margin-left: 120px;
}

.logo:hover{
    transition: 0.2s linear;  
    transform: scale(1.1);
}

.h1{
    margin-left: 120px;
}

.oopsContainer{
    margin-top: 20px;
}

.oopsText{
    padding-left: 10px;
    font-size: 30px;
}

.mainImage{
    width: 100%;
}

h2{
    font-size: 30px;
    font-weight: 700;
}

h3{
    font-size: 30px;
    margin: 50px 0;
    color:  var(--mainColor);
}

.menu{
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 70px;
    font-size: 25px;
}

.menuCell{
    display: inline-block;
    flex: 1 1 100px;
    text-align: center;
    padding-top: 23px;
    height: 70px;
    cursor: pointer;
}

.menuCell:hover{
    transition: 0.1s linear;  
    color: white;
}

.menuCellSelected{
    display: inline-block;
    flex: 1 1 100px;
    text-align: center;
    padding-top: 23px;
    height: 70px;
    background-color: white;    
    color:var(--mainColor);
    border-top: solid 5px var(--mainColor);
    border-right: solid 5px var(--mainColor);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: -20px;

    cursor: pointer;
}

.bottomMenu{
    background-color: var(--mainColor);
    color: var(--additionalColor);
}

.topMenu{
    background-color: var(--additionalColor);
    color: var(--mainColor);
}

.center{
    margin: 0 150px;
}

.imageContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 15px;
    margin-bottom: 50px;
}

.tshirtContainer{
    border: solid 5px var(--mainColor);
    border-radius: 35px;
    width: 32%;
    overflow: hidden;
}

.imgItem{
    width: 100%;
}

.h3Item{
    color: var(--mainColor);
    margin: 20px;
}

.pItem{
    color: var(--mainColor);
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.buttonsItem{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}

.buttonItem{
    font-size: 20px;
    color: white;
    background-color: var(--mainColor);
    border-radius: 15px;    
    width: 150px;
    height: 50px;
    margin-bottom: 20px;
}

.navLink{
    color: var(--mainColor);
}

.navLinkSelected{
    color: white;
}

.quickViewContainer{
    position: fixed;
    display: flex;
    bottom: 0; left: 0;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    background-color: var(--additionalColor);
    padding-left: 100px;
}

.imgQuickView{
    margin: 20px 0;
    width: 200px;
}

.name{
    margin-top: 20px;
    color: var(--mainColor);
    font-size: 30px;
}

.price{
    color: var(--mainColor);
    margin-top: 20px;
    margin-bottom: 113px;
    font-size: 20px;
}

.button{
    font-size: 20px;
    color: white;
    background-color: var(--mainColor);
    border-radius: 10px;    
    width: 150px;
    height: 50px;
    margin-bottom: 0px;
}

.mainDetails{
    margin: 0 150px 100px 150px;
}

.shirtTitle{
    color: var(--mainColor);
}

.shirtContainer{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.shirtImage{
    width: 406px;
    height: 473px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.shirtInfo{
    margin-left: 50px;
}

.shirtPrice{
    color: var(--mainColor);
    font-size: 50px;
}

.shirtDescription{
    color: var(--mainColor);
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
}

.shirtSide{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.side{
    color: var(--mainColor);
    font-size: 20px;
}

.frontSideButton,
.backSideButton{
    width: 350px;
    height: 60px;
    border: var(--mainColor) 5px solid;
    border-radius: 20px;
    padding: 0px 10px;
    margin-left: 20px;
    font-size: 20px;
    background-color: white;
}

.frontSideButton:hover,
.backSideButton:hover{
    transition: 0.3s;
    transform: scale(1.2);
}

.frontSideButton.active,
.backSideButton.active{
    transform: scale(1.2);
    box-shadow: 0px 0px 5px black;
}

.shirtColors{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.color{
    color: var(--mainColor);
    font-size: 20px;
}

.colorButton{
    width: 100px;
    height: 60px;
    border: var(--mainColor) 5px solid;
    border-radius: 20px;
    margin-left: 20px;
    font-size: 20px;
}

.colorButton:hover{
    transition: 0.3s;
    transform: scale(1.2);
}

.colorButton.active{
    transform: scale(1.2);
    box-shadow: 0px 0px 5px black;
}

body{
    --mainSelectedColor: rgb(18, 18, 50);
    --mainColor: rgb(0, 0, 90);
    --additionalColor: rgb(116, 142, 197);
    font-family: "Catamaran", sans-serif;
}